## Server enviroments
PORT=3000

## DATABASE enviroments
DB_HOST=host
DB_PORT=5432
DB_USER=user
DB_PASSWORD=password
DATABASE=database

## GOOGLE 
GOOGLE_CLIENT_ID=client-id
GOOGLE_CLIENT_SECRET=client-secret
GOOGLE_CALLBACK_URL="http://localhost:3000/api/google/callback"

## SESSION
SESSION_SECRET=secret

## APP
WEB_APP_URL=http://localhost:5173
SERVER_URL=http://localhost:3000

## SPOTIFY
SPOTIFY_CLIENT_ID=client_id
SPOTIFY_CLIENT_SECRET=client_secret
SPOTIFY_API="https://api.spotify.com"
ACCOUNT_SPOTIFY_API="https://accounts.spotify.com"

## Image 
LOCAL_IMAGE_BASE_PATH=public/images